/* Cuando la pantalla sea más chica que 480px aplica estos estilos */
/*@font-face {
    font-family: AsiaMania-fond;
    src: url(../flying_birds_2/FlyingBirds.ttf);
  }font-family: AsiaMania;*/

body{
    background-color: #FFF800;
}
.ImageLogo{
    height: 250px;
    width: 250px;
    display: block;
    margin: 15% auto;
}

@media  (max-width: 760px) {
    .logo {
    background-color: red;
    }}
@media (max-width: 480px) {
.logo {
    background-color: rgb(255, 230, 0);
}}
    body {
    background-color: #FFF800;
    }
    .ImageLogo{        
        height: 250px;
        width: 250px;
        display: block;
        margin: 33% auto;
    }
}
@media  (max-height: 450px) {
    body {
        background-color: #FFF800;
        }
        .ImageLogo{        
            height: 250px;
            width: 250px;
            display: block;
            margin: 33% auto;
        }
}


/* Pero si mi pantalla es mayor a 480 px aplica estos estilos siempre y cuando el tamaño sea menor a 768 px 
@media (max-width: 768px) {}*/

