/* Cuando la pantalla sea más chica que 480px aplica estos estilos */
@font-face {
    font-family: AsiaMania-fond;
    src: url(../flying_birds_2/FlyingBirds.ttf);
}

*{
    margin: 0;
    box-sizing: border-box;
}

.HomeView{
    background: #FFF800;
    height: 100vh;
    overflow: hidden
    
    /* align-content: center;
    text-align: center; */
}
.AppLogo{
    width: 60%;
    margin: 40% 0% 0% 20%;
}

form{
    margin: 5% 0% 0% 17%;
}
.form-login{
    font-family: AsiaMania-fond;
    font-size: 50px;
}

.inputForm{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    width: 650px;
    height: 85px;
    border-color: black;
    border-radius: 18px;
    padding: 10px;
}

.logo{
    background: black;
    width: 650px;
    height: 85px;
    border-radius: 18px;
    font-family: Comfortaa;
    font-size: 25px;
    color: white;
    transition: 0.2s;
    cursor: pointer;
}

#RegisterButton{
    margin-left: 29%;
    color: black;
    font-family: Comfortaa;
    font-size: 25px;
    text-decoration: none;
}

#LoginGmail{
    width: 13%;
    border-radius: 51%;
    margin: 8% 0% 0% 33%;
}



@media only screen and (min-width: 820px) {
    /* For desktop: */
    /*.HomeView{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
    .AppLogo{
        width: 25%;
        margin: 12% 0% 0% 12%;
    }
}



@media (min-width: 600px) and (max-width: 820px) {
    /* For tablets: */
}

/*
@media  (max-width: 760px) {
    .logo {
    background-color: red;
    }}


@media (max-width: 480px) {
.logo {
    background-color: rgb(255, 230, 0);
}}


@media  (max-height: 450px) {
    .logo {
    background-color: green;
    }
}


/* Pero si mi pantalla es mayor a 480 px aplica estos estilos siempre y cuando el tamaño sea menor a 768 px 
@media (max-width: 768px) {}*/ */