@font-face {
    font-family: Comfortaa-Bold-fond;
    src: url(../flying_birds_2/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: Comfortaa-Regular-fond;
    src: url(../flying_birds_2/Comfortaa-Regular.ttf);
}

*{
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Comfortaa-Bold-fond, sans-serif;
}

.img{
    height: 200px;
    width: 200px;
    border: 2px black solid;
}
#myProgress {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: #ddd;
}

#myBar {
    position: absolute;
    width: 1%;
    height: 100%;
    background-color: #4CAF50;
}

.MenuHome{
    background: white;
    height: 100vh;
    /* overflow: hidden; */
}

.nav-bar{
    display: flex;
    justify-content: space-between;
    background: #FFF800;
    align-items: center;
    min-height: 4rem;
    bottom:0;
    right:0;
    width: 100%;
    padding: 1% 8% 1% 8%;
    position: fixed;
}

.nav-sesionFinish{
    display: flex;
    justify-content: right;
    background:  black;
    color: white;
    align-items: center;
    min-height: 4rem;
    top:0;
    left:0;
    width: 100%;
    padding: 1% 2% 1% 8%;
    overflow: auto;
    position: fixed;
    z-index: 1;
}

.iconSesionFinish{
    padding: 0 2%;
    transition: 0.3s;
    border-radius: 50%;
    float: left;
    font-family: Comfortaa-Bold-fond, sans-serif;
}

.nav-sesionFinish.active{
    left:0;
    top: 4rem;
    position: fixed;
}

.logoMenu{
    display: none;
}

.navMenuHome{
    margin: 0px 37px;
    width: 200px;
    color: black;
    font-size: 14px;
    align-items: center;
}

.description{
    display: none;
}

.containerCategories{
    display: none;
}

#imageMenuColor, #imageMenuHi{
    display: none;
}

.containerPost{
    padding: 6rem 5%;
    background-color: white;
}

.createPost{
    /* background-color: green; */
    text-align: center;
    padding: 3% 3%;
}

.input-post{
    font-family: Comfortaa-Regular-fond, sans-serif;
    font-size: 16px;
    color: #0d0d0d;
    width: 69%;
    height: 45px;
    border: 1px solid;
    padding: 10px;
}

.btnPost{
    border: none;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition: .3s ease-in-out all;
    transform-origin: center;
    cursor: pointer;
    background: black;
    color: white;
    overflow: hidden;
    /* transition: 0.2s; */
}

.btnPost:hover::after{
    transform: scale(200);
    background: #FFF800;
}

.btnPost:hover{
    background: #c1bc3e;
    color: black;
}

.newPost{
    padding: 3% 3%;
    font-size: 15px ;
}

.showPost{
    border: 1px solid;
    border-radius: 25px;
    border-color: rgba(0, 0, 0, 0.37);
    padding: 5%;
}

.comment-post{
    font-family: Comfortaa-Regular-fond, sans-serif;
    font-size: 16px;
    color: #0d0d0d;
    width: 82%;
    height: 45px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.37);
    border-radius: 11px;
    padding: 10px;
}

@media only screen and (min-width: 820px) {
    /* For desktop: */
    .MenuHome{
        background-color: white;
    }
    .nav-sesionFinish{
        width: 18%;
        border-radius: 30px 0px 0px 30px;
        margin: 4% 0% 0% 82%;
    }

    .iconSesionFinish{
        padding: 0 6%;
    }

    .logoMenu{
        display: block;
        margin: 30% 0 5% 0;
    }

    .nav-bar{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 400px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-top: 20px;
        border-radius: 0px 50px 50px 0px;
    }

    .navMenuHome{
        margin: 3px 37px;
        width: 200px;
        color: black;
        font-size: 14px;
        align-items: center;
    }

    .containerCategories{
        display: block;
        margin: 1% -66%;
        background: white;
        border-radius: 25px;
        padding: 28% 18%;
        font-family: AsiaMania-fond;
    }

    h3{
        font-size: 16px;
    }

    h5{
        font-family: AsiaMania-fond;
        font-size: 29px;
    }

    #imageMenuHi{
        display: block;
        position: relative;
        top: -40%;
        left: 71%;
    }

    #imageMenuColor{
        display: block;
        position: relative;
        top: -30%;
        left: 54%;
    }

    #imageMenuLove{
        position: relative;
        top: -16%;
    }

    .description{
        /* display: block; */
        float: right;
        padding: 7% 26% 0% 0%;
        font-size: 17px;
        font-family: Comfortaa-Bold-fond, sans-serif;
    }

    .iconBurger{
        display: none;
    }

    .NavMenu{
        display: block;
        background-color: black;
        z-index: 100;
    }

    .containerPost{
        margin-left: 400px;
        padding: 12rem 5%;
    }
}